<div class="container">
    <app-componente1></app-componente1>
    <app-componente2></app-componente2>
    <app-componente3></app-componente3>
</div>

<div class="container2">
    <app-componente4></app-componente4>
    <app-componente5></app-componente5>
</div>